<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/MyStyle.css">

</head>
<body>
<header th:fragment="header">
    <!-- Header contains the Nav Bar to display it on every page -->
    <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/public/home">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pc-display" viewBox="0 0 16 16">
                <path d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V1Zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0Zm2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0ZM9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5ZM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5ZM1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2H1.5Z"/>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li id="userNavLinks" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        USER
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- The href for each page are found in java/controllers/GeneralControllers -->
                        <a class="dropdown-item" href="/user/dashboard">USER DASHBOARD</a>
                        <a class="dropdown-item" href="/user/mybookings">MY BOOKINGS</a>
                        <a class="dropdown-item" href="/user/quickbooking">QUICK BOOKING</a>
                    </div>
                </li>
                <li id="adminNavLinks" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- The href for each page are found in java/admin/adminControllers -->
                        <a class="dropdown-item" href="/admindashboard">ADMIN DASHBOARD</a>
                        <a class="dropdown-item" href="/admin/deskstatus">REMOVE DESK</a>
                        <a class="dropdown-item" href="/admin/adddesk">ADD DESK</a>
                    </div>
                </li>
            </ul>
            <div id="logoutButton" style="display: none">
                <form class="form-inline" action="#" th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-primary" value="Logout" />
                </form>
            </div>
        </div>
    </nav>
</header>
</body>
</html>