/*NOT IN USE*/
body{
  margin: 0;
  padding: 0;
  /*background-color: darkgrey;*/
  background-color: rgba(120, 154, 224, 0.75);
  /* text-align: center; */
}

.nav-links{
  width: 100%;
  background-color: #000d1a;
  /* position: fixed; */
  top: 0rem;
}

.nav-links ul{
  text-align: center;
  padding: 0em;
  margin: 0em;
}

.nav-links ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1em 5em;
  color: white;
}

.my-booking-container .desk{
  margin-bottom: 3em;
}

.navbar-link:visited, .navbar-link:link{
  text-decoration: none;
  color: white;
}

.nav-links ul li:hover{
  background-color: #0066cc;
}

.date-nav-container{
  text-align: center;
  margin-top: 1em;
}

.date-nav{
  background-color: lightblue;
  margin: auto;
  /* width: 70%; */
  display: inline-block;
}

.date-nav ul{
  margin: auto;
  text-align: center;
  padding-left: 0;
}

.date-nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 1em 3em;
}

.date-nav ul li:hover{
  background-color: #0066cc;
}

.my-booking-container{
  width: 60%;
  padding-left: 3em;
}

.date-booking-container{
  height: auto;
  background-color: white;
  border: 0.2em solid black;
  width: 80%;
  margin: 3em auto;
  border-radius: 0.8em;
}


.booked-or-available-grid{
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  margin: 2em auto;
  border-radius: 0.8em;
}

.booked-or-available-container{
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 0.8em;
  border: 0.2em solid black;
  margin-bottom: 20rem;
}

#available, #booked{
  width: auto;
  /* height: 4em; */
  border: 0.2em solid black;
  border-radius: 0.8em;
  margin-top: 1em;
}

#available{
  background-color: #4dc784;
}

#booked{
  background-color: #d27081;
}

.available-desk-list, .booked-desk-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
  margin-top: 1em;
  border-radius: 0.8em;
}

.desk{
  height: 3em;
  width: auto;
  border-radius: 0.4em;
  border: 0.1em solid black;
}

.available-desk-list .desk{
  background-color: #86d0a7;
}

.booked-desk-list .desk{
  background-color: #dca3ac;
}

.desk p{
  float: left;
}

/* will update the below book and cancel button css later, as currently it repeats itself too much */

.book-button-container{
  float: right;
  margin-top: 0.3em;
  margin-right: 1em;
  height: 100%;
}

.book-button-container button{
    background-color: lightcyan;
    padding: 0.2em 0.4em;
    text-align: center;
    text-decoration: none;
    height: 80%;
}

.book_button
{
  border: 1.5px solid black;
  transition-duration: 0.4s;
  padding: 5px 15px;
  border-radius: 12px;
  position: inherit;
  left: 140px;
  top: 160px;

}
.book_button:hover
{
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.cancel_button
{
  border: 1px solid black;
  transition-duration: 0.4s;
  padding: 5px 15px;
  border-radius: 12px;
  position: inherit;
  left: 140px;
  top: 160px;

}
.cancel_button:hover
{
  background-color: #bb2d3b; /* Red */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.desk p{
  padding-top: 0.65em;
  padding-left: 0.5em;
}

#available h2, #booked h2{
  padding-left: 0.5em;
}

.booked-column, .available-column{

}
/*Adding cards css here by furkan*/


:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  /* HB- I have commented out this font change so the font is the same across the whole site */
  /*font-family: 'Noto Sans JP', sans-serif;*/
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,600px));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .8em;
  color: #058af6;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #000000;
}

.card__status {
  font-size: 1em;
  color: #000000;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #058af6;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/*Slider*/


.accept_button
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;
  border-radius: 12px;
  position: inherit;
  left: 140px;
  top: 160px;

}
.accept_button:hover
{
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.decline_button
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;
  border-radius: 12px;
  position: inherit;
  left: 230px;
  top: 170px;

}
.decline_button:hover
{
  background-color: #f60505;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.hold_button
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;
  border-radius: 12px;
  position: inherit;
  left: 320px;
  top: 170px;

}
.hold_button:hover
{
  background-color: #058af6;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/*active*/

/*.logout
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;
  border-radius: 12px;
  position: absolute;
  left: 1900px;
  top: 70px;

}
.logout:hover
{
  background-color: #ff0000;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}*/

.add_desk
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;

  border-radius: 12px;
  margin: auto;
  position:relative;
  top:50%;
  left:50%;


}
.add_desk:hover
{
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.book
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;

  border-radius: 12px;
  margin: auto;
  position:center;
  top:50%;
  left:50%;


}
.book:hover
{
  background-color: #4caf50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}



.delete
{
  border: none;
  transition-duration: 0.4s;
  padding: 5px 15px;

  border-radius: 12px;
  margin: auto;
  position:center;
  top:50%;
  left:20%;


}
.delete:hover
{
  background-color: #ff0000;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}