/* NavBar css */
#mainNavbar {
    background-color: #f8f9fb;
}

#mainNavbar .nav-link:hover {
    color: #0275d8;
}

#mainNavbar .navbar-brand {
    color: #0275d8;
}

#mainNavbar .dropdown-menu {
    background-color: #f8f9fb;
    border: none;
}

/* Ensure that in small screen the dropdown is only displayed when clicked
bigger screens will allow hover */
@media only screen and (min-width: 768px) {
    #mainNavbar .dropdown:hover .dropdown-menu {
        display: block;
    }
}

#mainNavbar .dropdown-item:hover{
    background-color: #f8f9fb;
    color: #0275d8;
}

/*homePage Css*/
#homeButtonBox {
    margin: 10px
}

#homeButtonBox .btn {
    margin: 5px;
}

#imageText {
    background-color: rgba(248,249,251,0.9);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero {
    background: url("https://cdn.pixabay.com/photo/2015/01/09/11/11/office-594119_960_720.jpg");
    background-position: top left;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 768px) {
    #imageText {
        background-color: rgba(248,249,251,0);
        box-shadow: none;
    }
}

/*All Pages*/
h1 {
    color: #2f3e46;
}

body {
    background-color: #2f3e46;
}

/* Body of quickbooking page. Fix for mybookings re-route button on notification*/
.quickBookingBody {
    background-color: #2f3e46;
    z-index: -2;
    position: relative;
}


/* Desk cards and buttons UI and notifications*/
#dateBox, .deskListBox {
    width: 75%;
    background-color: #f8f9fb;
    padding: 0 1.5rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Notification is behind datebox to allow it to slide from underneath*/
.notificationBox {
    width: 50%;
    background-color: #0275d8;
    color: #f8f9fb;
    padding: 0 1.5rem;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: -1;
    position: relative;
    animation: slideDown ease-in-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Sliding animation also has fade in*/
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

/* Disabling Bootstrap default cards */
#dateBox .card, .notificationBox .card {
    background: none;
    border: none;
}


/* Styling for buttons within desk cards*/
.deskCard, .deskCardBooked, .deskCardCancel {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.deskCard {
    border: solid #5cb85c 2px;
}

.deskCardBooked {
    border: solid #d9534f 2px;
}

.deskCardCancel {
    border: solid #f0ad4e 2px;
}

.deskCard .card-header, .deskCardBooked .card-header, .deskCardCancel .card-header{
    padding: 0.5rem;
}

.card-text, h5 {
    display: inline-block;
    margin: 0.25rem
}

.col {
    padding: 15px 15px;
}

.desk-container{
    min-width: 25%;
}

.booking-button-form, .bookDeskButton ,.myBookingButton{
    display: inline-block;
    float: right;
}



