#mainNavbar {
    background-color: #EAEDED;
}

#mainNavbar .nav-link:hover {
    color: #0275d8;
}

#mainNavbar .navbar-brand {
    color: #0275d8;
}

#mainNavbar .dropdown-menu {
    background-color: #EAEDED;
    border: none;
}

/* Ensure that in small screen the dropdown is only displayed when clicked
bigger screens will allow hover */
@media only screen and (min-width: 768px) {
    #mainNavbar .dropdown:hover .dropdown-menu {
        display: block;
    }
}

#mainNavbar .dropdown-item:hover{
    background-color: #EAEDED;
    color: #0275d8;
}

h1 {
    color: #0275d8;
}

#homeButtonBox {
    margin: 10px
}

#homeButtonBox .btn {
    margin: 5px;
}

#imageText {
    background-color: rgba(234,237,237,0.9);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero {
    background: url("https://cdn.pixabay.com/photo/2015/01/09/11/11/office-594119_960_720.jpg");
    background-position: top left;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 768px) {
    #imageText {
        background-color: rgba(234,237,237,0);
        box-shadow: none;
    }
}


