/* Styling for Nav Bar */
#mainNavbar {
    background-color: #f8f9fb;
}

#mainNavbar .nav-link:hover {
    color: #0275d8;
}

#mainNavbar .navbar-brand {
    color: #0275d8;
}

#mainNavbar .dropdown-menu {
    background-color: #f8f9fb;
    border: none;
}

/* Ensure that with smaller screen sizes the dropdown is only displayed
when clicked, bigger screens will allow hover to see the dropdown items */
@media only screen and (min-width: 767.98px) {
    #mainNavbar .dropdown:hover .dropdown-menu {
        display: block;
    }
}

#mainNavbar .dropdown-item:hover{
    background-color: #f8f9fb;
    color: #0275d8;
}

/* Styling for Home Page */
#homeButtonBox {
    margin: 10px
}

#homeButtonBox .btn {
    margin: 5px;
}

/* Home page image */
.hero {
    background: url("https://cdn.pixabay.com/photo/2015/01/09/11/11/office-594119_960_720.jpg");
    background-position: top left;
    background-size: cover;
    height: 100vh;
}

/* Div for Website title and user links in front of home page image */
#imageText {
    background-color: rgba(248,249,251,0.9);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* On smaller screen sizes white box and website title disappear for cleaner look */
@media (max-width: 767.98px) {
    #imageText {
        background-color: rgba(248,249,251,0);
        box-shadow: none;
    }
}

/* Styling shared across all pages */
h1 {
    color: #2f3e46;
}

body {
    background-color: #2f3e46;
}

/* Fix to disable bootstrap card-header making new white box */
.card-header {
    border-bottom: 0;
    background-color: rgba(0,0,0,0);
}

/* body of pages that contain notifications, z-index allows the body to be behind the notification box
 therefore fixing bug where re-routing buttons on notification aren't clickable */
.quickBookingBody, .bookingPageDatedBody, .myBookingPageBody, .adminDashBody, .deskStatusBody {
    background-color: #2f3e46;
    z-index: -3;
    position: relative;
}

/* White cards that the desk cards and user interactions are placed on */
#dateBox, .deskListBox {
    width: 75%;
    background-color: #f8f9fb;
    padding: 0 1.5rem;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Notification styling. Note that the z-axis = 1, this is to allow the notification
 to dropdown from under the dateBox when activated */
.notificationBox, .alert {
    width: 50%;
    background-color: #0275d8;
    color: #f8f9fb;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: -1;
    position: relative;
    animation: slideDown ease-in-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Notification dropdown animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Padding size for notifications box */
.notificationBox {
    padding: 0 1.5rem;
}

/* Alert styling for add desk page to change bootstrap defaults */
.alert {
    border: none;
    margin: auto;
    text-align: center;

}

/* Unique divs that contain the notification box so they can be called with different JS functions.
 Note that the z-index = -2 so that the div is behind the notification box therefore allowing the
 re-routing buttons to be clicked. Display = none so the box is off by default / page refresh */
#quickBookingComplete, #quickBookingFull, #quickBookingExists, #bookNotification, #cancelNotification,
#cancelFromAdminDashNotification, #cancelFromDashNotification, #deleteNotification {
    display: none;
    z-index: -2;
    position: relative;
}


/* Disabling Bootstrap default cards */
#dateBox .card, .notificationBox .card {
    background: none;
    border: none;
}


/* Styling for buttons within desk cards */
.deskCard, .deskCardBooked, .deskCardCancel {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: 10px;
}

/* Colours for each button let user know how they will interact with the site.
Green = bookable (intractable-positive) */
.deskCard {
    border: solid #5cb85c 2px;
}

/* Yellow = cancelable or removable (intractable-negative)*/
.deskCardBooked {
    border: solid #d9534f 2px;
}

/*Red = booked (un-interactive)*/
.deskCardCancel {
    border: solid #f0ad4e 2px;
}

.deskCard .card-header, .deskCardBooked .card-header, .deskCardCancel .card-header{
    padding: 0.5rem;
}

.card-text, h5 {
    display: inline-block;
    margin: 0.25rem
}


.desk-container{
    min-width: 25%;
    padding: 0;
    margin: 0;
}

/* positions buttons on right-hand side of desk cards and notification */
.booking-button-form, .bookDeskButton ,.myBookingButton, #check-in-btn{
    display: inline-block;
    float: right;
    margin: 0;
}


#addDeskButtonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 767.5px) {
    #addDeskButtonDiv{
        margin-top: 10px;
    }
}

.warning-text-delete{
    justify-content: center;
}

.notificationCol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deskListBox .card-title {
    margin: 12px 4px;
}

.deskListBox .card-body {
    margin: 0;
    padding: 0;
}

.bookingCardDate {
    float: bottom;
    padding: 0;
}

/* Blue arrow for dropdown image on desk cards */
.btn-link {
    float: right;
    padding: 0;
}

/* Desk image on desk cards */
.card-img-top {
    border: none;
    border-radius: 0px 0px 10px 10px;
}

#deskOneImg {
    border: none;
    background-color: transparent;
}

.deskCardCancelHeader {
    position: relative;
}

/* Position of desk tags */
.bookingCardDate, .bookingCardUser {
    position: absolute;
    top: 50px;
    left: 10px;
    margin: 0;
}

/* Desk tags on bottom of desk cards
 deskTags = three tags for desk description (type, position and monitor type) */
.deskTags {
    color: #f8f9fb;
    background-color: #4b7086;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    margin-right: 2px;
    font-size: 9px;
}

/* deskTagsTwo = two tags (date, officeLocation)*/
.deskTagsTwo {
    color: #f8f9fb;
    background-color: #2f3e46;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1px;
    margin-right: 4px;
    font-size: 12px;
}

/* deskTagsOne = one tage for username */
.deskTagsOne {
    color: #f8f9fb;
    background-color: #2f3e46;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1px;
    font-size: 16px;
}

/* Adjusting size of tags and font with screen size */
@media (max-width: 1199.5px) {
    .deskTags {
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 3px;
        font-size: 10px;
    }

    .deskTagsTwo {
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 4px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .deskTags {
        font-size: 12px;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 3px;
    }

    .deskTagsTwo {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        font-size: 16px;
    }
}

@media (max-width: 767.98px) {
    .deskTags {
        font-size: 15px;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 5px;
    }

    .deskTagsTwo {
        padding-left: 12px;
        padding-right: 12px;
        margin-right: 5px;
    }

}

.siteTitle {
    margin-bottom: 10px;
}

/* Styling for buttons on remove desk page */
#deleteDeskButton, #goBackButton{
    padding: 10px 40px;
    margin-top: 10px;
}

#addDeskFormCard {
    margin: 10px;
}