<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org " lang="en">



<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Desk Status</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />



    <link th:href="@{/css/BookingStyle.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/BookingStyle.css">
    <link rel="stylesheet" href="/css/MyStyle.css">
    <link rel="stylesheet" href="/css/BookingStyle.css">




</head><head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Desk Status</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <!--<link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="BookingStyle.css">-->
    <!--<link th:href="@{/css/cards.css}" rel="stylesheet" />-->
    <link th:href="@{/css/BookingStyle.css}" rel="stylesheet" />
    <!--<link th:href="@{/css/form.css}" rel="stylesheet" />-->





</head>

<body>
<header th:replace="fragments/header :: header"></header>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <nav class="nav-links">
        <ul>
            <a class="navbar-link" href="dashboard"><li>All Booking</li></a>
            <a class="navbar-link" href="BookingPage.html"><li>Previous Booking</li></a>
            <a class="navbar-link" href="deskstatus"><li>Desk Status</li></a>
        </ul>
    </nav>
</header>
<!-- ***** Header Area End ***** -->

<section class="contact-section section_padding">
    <div class="container">


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">


                <form action="#" th:action="@{/admin/adddesk}" class="desk-form" th:object="${desk}" method="post" enctype="multipart/form-data">

                    <div class="row">


                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="headline" id="deskName" th:field="*{deskName}" type="text"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Desk Name'"
                                       placeholder='Desk Name'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">

                                <textarea class="form-control w-100" name="body" id="desktype" th:field="*{desktype}" cols="30" rows="3" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Desk Type'" placeholder = 'Desk Type'></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input  class="form-control" name="tag" id="deskPosition" type="text"
                                       th:field="*{deskPosition}" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Position'"
                                       placeholder='Position'>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input  class="form-control" name="tag" id="monitorOption" type="number"
                                       th:field="*{monitorOption}" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Monitor Number'"
                                       placeholder='Monitor Number'>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group">
                                <label>Photos: </label>
                                <input type="file" value="upload" name="image" accept="image/png, image/jpeg" />
                            </div>
                        </div>
                    </div>
                    <div >

                        <input type="submit" value="Add Desk" class="add_desk" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


</body>
</html>