<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Admin Dashboard</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!--  <link rel="stylesheet" href="/css/BookingStyle.css">-->
  <link rel="stylesheet" href="/css/MyStyle.css">
  <script src="/js/BookingScript.js" charset="utf-8"></script>
  <script src="/js/showLogout.js"></script>

</head>

<body onload="showLogoutButton()">

<header th:replace="fragments/header :: header"></header>

<div class="card col d-flex justify-content-center container-fluid mt-100" id="dateBox">
  <div class="card-body row">
    <div class="col-12 col-md-6">
      <h5 class="card-title">Select Date</h5>
      <form class="row g-2 align-items-center" action="/admin/getBookingsByDate" method="GET">
        <div class="col-auto">
          <label for="date"><input type="date" id="date" name="date"></label>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div id="searchUser" class="col-12 col-md-6">
      <h5 class="card-title">Search User</h5>
      <form class="row g-2 align-items-center" action ="/admin/getBookingsByDate" method="GET">
        <div class="col-auto" style="padding-right: 0">
          <label for="search user"><input type="text" placeholder="Search User" aria-label="Search User" id="search user" name="search user"></label>
        </div>
        <div class="col-auto" style="padding: 0 13px">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card col d-flex justify-content-center container-fluid mt-100 deskListBox"> <!-- removed 'col' as class -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <!-- All bookings here-->



  </div>
</div>



<!--&lt;!&ndash;blog card start&ndash;&gt;-->
<!--<ul class="cards">-->
<!--  <li>-->
<!--    <a href="" class="card">-->
<!--      <img th:src="@{/images/standing.jpg}" class="card__image" alt="" />-->
<!--      <div class="card__overlay">-->
<!--        <div class="card__header">-->
<!--          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>-->
<!--          <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />-->
<!--          <div class="card__header-text">-->
<!--            <h3 class="card__title">Batman</h3>-->
<!--            <span class="card__status">1 hour ago</span>-->
<!--            <button  type="submit"   class="accept_button">Accept</button>-->
<!--            <button  type="submit"   class="decline_button">Decline</button>-->
<!--            <button  type="submit"   class="hold_button">Hold</button>-->

<!--          </div>-->
<!--        </div>-->
<!--        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>-->

<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="" class="card">-->
<!--      <img th:src="@{/images/multi.png}" class="card__image" alt="" />-->
<!--      <div class="card__overlay">-->
<!--        <div class="card__header">-->
<!--          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>-->
<!--          <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
<!--          <div class="card__header-text">-->
<!--            <h3 class="card__title">Superman</h3>-->
<!--            <span class="card__status">3 hours ago</span>-->
<!--            <button  type="submit"   class="accept_button">Accept</button>-->
<!--            <button  type="submit"   class="decline_button">Decline</button>-->
<!--            <button  type="submit"   class="hold_button">Hold</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="" class="card">-->
<!--      <img th:src="@{/images/standing.jpg}" class="card__image" alt="" />-->
<!--      <div class="card__overlay">-->
<!--        <div class="card__header">-->
<!--          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>-->
<!--          <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />-->
<!--          <div class="card__header-text">-->
<!--            <h3 class="card__title">Iron Man</h3>-->
<!--            <span class="card__tagline">Lorem ipsum dolor sit amet consectetur</span>-->
<!--            <span class="card__status">1 hour ago</span>-->
<!--            <button  type="submit"   class="accept_button">Accept</button>-->
<!--            <button  type="submit"   class="decline_button">Decline</button>-->
<!--            <button  type="submit"   class="hold_button">Hold</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a href="" class="card">-->
<!--      <img th:src="@{/images/standing.jpg}" class="card__image" alt="" />-->
<!--      <div class="card__overlay">-->
<!--        <div class="card__header">-->
<!--          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>-->
<!--          <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />-->
<!--          <div class="card__header-text">-->
<!--            <h3 class="card__title">Wolverin</h3>-->
<!--            <span class="card__status">3 hours ago</span>-->
<!--            <button  type="submit"   class="accept_button">Accept</button>-->
<!--            <button  type="submit"   class="decline_button">Decline</button>-->
<!--            <button  type="submit"   class="hold_button">Hold</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>&lt;!&ndash; /.blog-card &ndash;&gt;-->

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>