<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/MyStyle.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div class="container-fluid hero d-flex align-items-center justify-content-center">
    <div id="imageText" class="text-center">
        <h1 class="display-1 mb-0 d-none d-md-block">BJSS Desk App</h1>
        <div id="homeButtonBox">
            <a id="homeButtonDash" class="btn btn-lg btn-primary" href="/user/dashboard" role="button">User Dashboard</a>
            <a id="homeButtonQuick" class="btn btn-lg btn-primary" href="/user/quickbooking" role="button">Book A Desk Now</a>
        </div>
    </div>
</div>

<div style="background-color: #f0ad4e">
    For dev use only!
    <ul>
        <li>User: username = user. password = password</li>
        <li>Admin: username = admin password = admin</li>
    </ul>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>