<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<div id="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" required="required" placeholder="Username" name="u"></input>
        <input type="password" required="required" placeholder="Password" name="p"></input>
        <button class="but" type="submit">Log in</button>
        <a href="uesr.html">Return</a>
    </form>
</div>
</body>
</html>