<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Quick Booking</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/BookingStyle.css">
    <link rel="stylesheet" href="/css/MyStyle.css">
    <script src="BookingScript.js" charset="utf-8"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>


<div class="date-booking-container">
    <div class="my-booking-container">
        <br>
        <h2>Create quick booking:</h2>
        <form action ="/user/createBooking" method="POST">
            <label for="date">Date:<br><input type="date" id="date" name="date"></label><br>
            <input type="submit"><br><br>
        </form>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>